umask = 0o022
encryption = "age"
scriptTempDir = "/var/tmp"

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/age.txt"
recipientsFile = "{{ .chezmoi.sourceDir }}/age-recipients.txt"

[data]
hostname = {{ promptStringOnce . "hostname" "Logical hostname" | quote }}
