umask = 0o022
encryption = "age"
{{ if eq .hostname "Braavos" -}}
scriptTempDir = "/var/tmp"
{{ end -}}

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/age.txt"
recipientsFile = "{{ .chezmoi.sourceDir }}/age-recipients.txt"

[data]
hostname = {{ promptStringOnce . "hostname" "Logical hostname" | quote }}
