#!/bin/sh
set -eu

{{- $shellGptConfigDir := printf "%s/.config/shell_gpt" .chezmoi.homeDir -}}
{{- if eq .hostname "Pentos-Int" -}}
{{- $shellGptConfigDir = "/Users/iceout/.config/shell_gpt" -}}
{{- end }}
mkdir -p "{{ $shellGptConfigDir }}/functions"
{{- if eq .chezmoi.os "darwin" }}
mkdir -p "{{ .chezmoi.homeDir }}/Library/Caches/shell_gpt"
{{- else }}
mkdir -p "{{ .chezmoi.homeDir }}/.cache/shell_gpt"
{{- end }}
